langchain
langchain-openai
langchain-community
langchain-pinecone
pinecone-client
langfuse
ragas
openai
tiktoken
pypdf
python-docx
moviepy<2.0.0
openai-whisper
python-dotenv
pandas
numpy
scikit-learn
transformers
torch
pillow

